.address-card-icon {
  color: #30475e;
  font-size: 2rem;
  padding: 0 1rem;
}

.card {
  background: #ececec;
  border: 0.125rem solid #ececec;
  box-shadow: 0.125rem 0.125rem 0.115rem #c1a57b;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  transition: 500ms;
  width: 33%;
}

.card-container :active {
  scale: 98%;
  transition: 367ms;
}

.card-title {
  color: #222831;
  font-size: 1.5rem;
}

.card-subtitle {
  color: #30475e;
  margin: 0;
}

.envelope-icon {
  color: #c1a57b;
  margin-right: 1.25rem;
  vertical-align: middle;
}

.italic-text {
  font-style: italic;
}

.list-title {
  color: #ececec;
  font-size: 3rem;
  text-shadow: 0.125rem 0.125rem 0.115rem #c1a57b;
}

.title-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}