.app-container {
  background: #30475e;
  display: grid;
  grid-template-areas: 
    "header header header"
    "contacts main main";
  grid-template-columns: 1fr 1fr 17.5%;
  grid-template-rows: 17% 82%;
  margin: auto;
  padding: 1rem 2rem;
}

.header {
  grid-area: header;
}

.main {
  background: white;
  grid-area: main;
  margin-left: 2rem;
}

.contacts {
  grid-area: contacts;
}
