.App {
  background: lightslategray;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-column-gap: 0.125rem;
  grid-row-gap: 0.125rem;
  height: 100vh;
  font-family: 'Roboto Mono', sans-serif;
}

.code {
  color: #000;
}