.App {
  background: lightslategray;
  display: grid;
  font-family: 'Roboto Mono', sans-serif;
  height: 100vh;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-column-gap: 0.125rem;
  grid-row-gap: 0.125rem;
}

.code {
  color: #000;
}

.text-input {
  background: #143B59;
  border: 0.0125rem solid #B2FEC5;
  color: #F7E6EA;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1rem;
  min-width: 24rem;
  padding: 0.25rem 0.5rem;
}